.products-section .p-24 {
    background-color: #1881B0;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 70px;
    font-size: 24px;
    font-weight: 700;
    padding-right: 100px;
}

.products-section {
    padding:  10px;
    box-shadow: 3px 5px 10px #9c9c9c;
    margin: 20px 0;
}

.products-section .p-20-b {
    color: #1881B0;
    font-size: 20px;
    font-weight: 500;
}

.products-section .p-16-b {
    color: #1881B0;
    font-size: 16px;
    font-weight: 500;
}

.prod-img {
    height: 140px;
    width: 100%;
    object-fit: contain;
}

.line {
    height: 2px;
    width: 90%;
    margin: 20px auto 30px auto;
    background-color: #eee;
}

.square-div {
    height: 48px;
    width: 48px;
}

.footer-img {
    width: 100%;
}

.products-section .p-36-7 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #1881B0;
}

.p-18-b {
    font-size: 18px;
    font-weight: 400;
    color: #1881B0;
}

.b-24-6 {
    font-size: 17px;
    font-weight: 600;
    color: #1881b0;
}

.table tr td:nth-child(2){
    text-align: end;
    padding-right: 20px;
}

.table tr td:nth-child(1){
    padding-left: 45px;
}

.notes {
    height: 2px;
    width: 100%;
    background-color: #1881B0;
    margin-bottom: 30px;
}

.heading span {
    font-family: Montserrat;
    font-size: 75px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #1881B0;
    opacity: 0.12;
}

.heading {
    position: relative;
    text-align: center;
}

.b-28-5 {
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #1881b0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.table tr td {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #1881B0;
    padding-bottom: 12px;
}

.img-ab-div{
    width: 100%;
    height: 220px;
    padding: 10px;
    margin-top: -50px;
    background-color: #fff;
}

.img-ab-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-section-2{
    padding: 25px 10px;
    background: #eee;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}

.about-section-3{
    background-color: #eee;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
}

.about-section-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-sections{
    background-color: #1881B0;
    padding: 100px 0;
}

.pd-section{
    width: 85%;
    height: 530px;
    overflow: auto;
    margin-left: auto;
    padding: 0px 10px;
}

.cover-section{
    padding:30px;
    background-color: #eee;
}

.logo-img{
    height: 72px;
    margin-bottom: 30px;
}

.cover_section img{    
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.cover_heading{
    background-color: #1881B0;
    padding: 20px 20px 40px;
    position: relative;
}

.p-48-7{
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    text-align: center;
    width: 95%;
    margin: auto;

}

.p-26-5{
    position: absolute;
    font-size: 23px;
    font-weight: 500;
    background: #fff;
    padding: 2px 15px;
    left: 96%;
    top: 90%;
    transform: translate(-100%,-100%);
}

.img-q{
    background-size: cover;
    background-image: url(../../assets/imgs/image90.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.cover-section .d-flex{
    align-items: center;
    justify-content: space-between;
}

.p-18-7{
    font-size: 14px;
    font-weight: 700;
    transform: rotate(270deg);
    margin-bottom: 0;
    height: min-content;
    width: 15%;
    text-align: center;
}

.p-18{
    width: 90%;
    margin-bottom: 0;
}

.d_flex{
  padding-top: 50px;
}

@media (max-width:1280px) {
    .p-18{
        width: 80%;
    }
}

@media (max-width:1229px) {
    .p-18-7{
        width: 20%;
    }
}

@media (max-width:992px) {
    .p-18-7{
        font-size: 12px;
    }

    .common-btn{
        padding: 0 20px;
        width: max-content;
    }

    .pd-section{
        width: 100%;
    }
}

@media (max-width:765px) {
    .products-section{
        padding: 0;
    }

    .cover-section{
        padding: 30px 20px;
    }

    .logo-img{
        height: 50px;
    }

    .cover_section img{
        height: 250px;
    }

    .p-48-7{
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        text-align: center;
    }

    .p-26-5{
        top: 82%;
        font-size: 16px;
    }

    .p-18-7{
        width: 26%;
    }

    .p_s{
        padding-left: 0 !important;
    }

    .heading span{
        font-size: 52px;
    }

    .b-28-5{
        font-size: 13px;
    }

    .prod-img{
        margin-bottom: 20px;
    }

    .section-4{
        padding: 10px;
    }
    
    .pd-section{
        margin-top: 30px;
    }

    .b-24-6{
        font-size: 14px;
    }

    .products-section .p-24{
        font-size: 18px;
    }
}